.menuknap {
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    top: 1vw;
    left: 86vw;
    margin-left: 0px;
    z-index: 99;
    color: white;
}

.menubox {
    /*    transition: opacity 500ms cubic-bezier(1, 0, 0, 1) 0ms;*/
    transform: translateX()
}

.menu {
    transform: translateX(-300%);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0vw;
    background-color: #1C1A20;
    transform-origin: top;
    list-style-type: none;
    padding-top: 160px;
    z-index: 99;

}

.menu a {

    font-size: 2.3em;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #f8f8f8;
    cursor: pointer;
    text-decoration: none;
    font-family: metropolisextra_bold;
}

.menu .burgersome a {
    font-size: 15px;
    padding: 0;
    color: #212529;
}

/* class der gør burgermenu knappen hvid, når man trykker på den*/
.whiten {
    color: white;
    height: 300px;
}

.whiten:hover {
    color: white;
    height: 95vh;
}

.menubox {
    position: fixed;
    left: 83vw;
    height: 75vh;
    width: 24px;
    background-color: #FF5851;
    box-sizing: content-box;
    z-index: 999;
    transition-property: height;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;
}

.hoverbox1 {
    opacity: 50%;
    top: 190px;
    left: 20px;
    width: 20px;
    height: 10px;
    background-color: #FF5851;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.hoverbox1:hover {
    width: 240px;
}

.hoverbox2 {
    opacity: 40%;
    top: 265px;
    left: 20px;
    width: 20px;
    height: 10px;
    background-color: seagreen;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.hoverbox2:hover {
    width: 130px;
}

.burgersome .pos {
    right: 15px;
    top: 15px;
}

.burgersome .pt-8 {
    padding-top: 2vh;
}

.burgersome .center {
    padding: 15.6px;
}

.burgersome .centerr {
    padding: 15px;
}


/* class der bliver toggled når man trykker på burgermenu knappen, så burgermenu'en vises */
.showmenu {
    transform: translateY(0%);
    overflow-y: auto;
    will-change: transform;
    transition: transform .5s ease;

}
