html {
    scroll-behavior: smooth;
}

body {
    background-color: #1C1A20;
}


.container {
    padding: 0;
    min-height: 100%;

}

p {
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    color: white;
    text-transform: uppercase;
    font-family: 'metropolisextra_bold';
    font-size: 2.5em;
}

.pointer {
    cursor: pointer;
}

.pt-6 {
    padding-top: 5em;
}


.burgermenu {
    display: block;
}

.nav {
    display: none;
}

/*****************  HERO BOX  ****************************/

#hero .redbox {
    width: 300px;
    height: 700px;
    background-color: #FF5851;
}

#hero .redboxpos {
    margin-left: 10vw;
    width: 50vw;
}

#hero {
    min-height: 100vh;
}

#hero h1 {
    z-index: 2;
    margin-top: 100px;
    margin-left: 30px;
    font-family: 'metropolisextra_bold';
    font-size: 3.6em;
}

#hero p {
    z-index: 2;
}

#hero .textbox {
    left: 20px;
    top: 300px;
}

#heropic {
    z-index: 1;
    max-height: 300px;
    max-width: 300px;
}

#hero .pos {
    top: 60%;
    left: 190px;
}

#hero .arrow {
    font-size: 3em;
    color: #FF5851;
}

#hero .fas {
    line-height: 0.4;
}

#hero .scrolldown {
    bottom: -40px;
    left: -40px;
}


/*****************  HERO BOX END  ****************************/

/* PROJEKTER */

#projekter .textbox {
    text-align: left;
    margin: auto;
}

#projekter p {
    font-size: 20px;
}

#projekter h2 {
    font-size: 4em;

}

#projekter h2::after {
    font-size: 1em;
    content: ".";
    color: #FF5851;
}

#projekter .skub {
    z-index: 1;
    top: -5px;
}

#projekter a {
    color: #26f4b4;
    font-size: 1.3em;
    font-family: metropolisextra_bold;

}


#projekter a:hover {
    cursor: pointer;
}



.projekt1 {
    background-color: #011B33;
    height: 100vh;
}

.projekt2 {
    background-color: crimson;
    height: 100vh;
}

.projekt3 {
    background-color: #4379e0;
    height: 100vh;

}

.projekt4 {
    background-color: peru;
    height: 100vh;
}

/*                    INFO/OM                         */

#info {
    min-height: 100vh;
}

#info .redbox {
    width: 300px;
    height: 700px;
    background-color: #FF5851;

}


#info .redboxpos {
    margin-left: 10vw;
    width: 50vw;
}


#info h1 {
    z-index: 2;
    margin-top: 100px;
    margin-left: 30px;
    font-family: 'metropolisextra_bold';
    font-size: 3.6em;
}

#info p {
    z-index: 2;
}

#info .textbox {
    left: 25px;
    top: 300px;
}

#info #idimg {
    z-index: 1;
    max-width: 300px;
    max-height: 100%;
}


#info .pos {
    top: 45%;
    left: 190px;
}

#info .arrow {
    font-size: 3em;
    color: #FF5851;
}

#info .fas {
    line-height: 0.4;
}

#info .scrolldown {
    bottom: -40px;
    left: -40px;
}

#info .pospil {
    top: 640px;
}

#omtext .skub {
    top: -67px;
    left: 10px;
    z-index: 1;
}

#omtext h2 {
    font-size: 5em;
}

#omtext h2::after {
    content: ".";
    color: #FF5851;
}

#omtext {
    padding: 50px 0px 0px 0px;
    margin: 0;
}

#omtext .omtext {
    background-color: seagreen;
    text-align: left;
    height: 1250px;
    font-size: 1.1em;
}

.t4 {
    display: none;
}



/*                --------------                      */
/*     FOOTER       */
footer {
    min-height: 25vh;
}

footer .arrow {
    font-size: 3em;
    color: #FF5851;
    line-height: 0.4;
    transform: rotate(180deg);

}

footer .fas {
    line-height: 0.4;
}

footer .pos {
    right: 15px;
    top: 15px;
}

footer .pt-8 {
    padding-top: 2vh;
}

footer .center {
    padding: 15.6px;
}

footer .centerr {
    padding: 15px;
}

footer a {
    color: #1C1A20;
}

.cirkel {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #533098;
}

.cirkel:hover {
    background-color: #8c6dc3;
    cursor: pointer;
}


/* KEYFRAMES */

.slide-bottom {
    animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}

.spin {
    animation-name: spin;
    animation-duration: 5000ms;
    /* sætter animationen til at være 5sekunder*/
    animation-iteration-count: infinite;
    /* animationen fortsætter forevigt */
    animation-timing-function: linear;
    /* animationen holder samme tempo */
    background-image: url(logosvg2.svg);
    /* tilføjer billede til klassen */
}

.pulsate-fwd {
    animation: pulsate-fwd 1s ease-in-out infinite both;
}


/* ----------------------------------------------
 * Generated by Animista on 2020-4-12 21:33:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


@keyframes slide-bottom {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(10px);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        /* definere hvor keyframen starter  */
    }

    to {
        transform: rotate(360deg);
        /* definere hvor keyframen slutter */
    }
}



@keyframes pulsate-fwd {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}



/**************************************************/
/* Small devices (landscape phones, 576px and up) */
/**************************************************/
@media (min-width: 576px) {
    .container {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        min-width: 100%;
    }

    #hero .redbox {
        width: 300px;
        height: 600px;
    }

    #hero .redboxpos {
        width: 50vw;
    }

    #hero .scrolldown {
        bottom: -140px;
        left: -60px;
    }

    #info .redbox {
        width: 300px;
        height: 600px;
    }

    #info .redboxpos {
        width: 50vw;
    }

    #info .scrolldown {
        bottom: -140px;
        left: -60px;
    }

    #omtext .omtext {
        height: 1050px;
    }

    .omtext .textbox {
        max-width: 620px;
    }


    /* END "sm-" 576px and up */
}

/**************************************************/
/* // Medium devices (tablets, 768px and up) */
/**************************************************/
@media (min-width: 768px) {

    #hero h1 {
        font-size: 95px;
    }

    #hero .redbox {
        width: 350px;
    }

    #hero .redboxpos {
        margin-left: 20vw;
    }

    #hero .textbox {
        left: 320px;
        top: 290px;
    }

    #hero .scrolldown {
        bottom: -100px;
        left: -150px;
    }

    #heropic {
        max-height: 330px;
        max-width: 330px;
    }

    #hero .pos {
        top: 55%;
        left: 400px;
    }

    #hero .padtop {
        padding-top: 50px;
    }

    #info h1 {
        font-size: 95px;
    }

    #info .redbox {
        width: 350px;
    }

    #info .redboxpos {
        margin-left: 20vw;
    }

    #info .textbox {
        left: 320px;
        top: 250px;
    }

    #info .scrolldown {
        bottom: -100px;
        left: -150px;
    }

    #info #idimg {
        max-width: 330px;
    }

    #info .pos {
        top: 40%;
        left: 400px;
    }

    #info .padtop {
        padding-top: 50px;
    }

    #omtext .omtext {
        height: 1050px;
    }


    .burgermenu {
        display: none;
    }

    .nav {
        display: block;
        min-width: 90vw;
        z-index: 1;
    }

    /* NAV */

    .navn {
        font-size: 1.8rem;
        position: absolute;
        top: 1rem;
        left: 0.7rem;
    }

    .portfolio {
        font-size: 1.8rem;
        position: absolute;
        top: 1rem;
        right: 8rem;
    }

    .info {
        font-size: 1.8rem;
        position: absolute;
        top: 1rem;
        right: 2rem;

    }

    /* Man sætter komma. for at sige man taler til nav a og inden i den taler man til p */
    nav a,
    nav a p {
        color: #F8F8F8F8;
        text-transform: uppercase;

    }



    nav a:hover {
        text-decoration: none;
    }



    nav p {
        font-family: 'metropolisextra_bold';
        cursor: pointer;
    }

    /* NAV SLUT */

    #projekter .textbox {
        max-width: 460px;
    }

    .omtext .textbox {
        max-width: 714px;
    }



    /* END "md-" 768px and up */
}

/**************************************************/
/* // Large devices (desktops, 992px and up) */
/**************************************************/
@media (min-width: 992px) {

    #heropic {
        max-height: 360px;
        max-width: 360px;
    }

    #hero .pos {
        left: 390px;
    }

    #hero .scrolldown {
        left: -200px;
    }

    #info #idimg {
        max-width: 360px;
    }

    #info .pos {
        top: 35%;
        left: 390px;
    }

    #info .textbox {
        top: 27%;
    }

    #info .scrolldown {
        left: -200px;
    }

    #projekter .skub {
        left: 8vw;
        top: -5px;
    }

    #projekter .textbox {
        max-width: 460px;
        max-height: 220px;
    }

    .projekt4 .textbox {
        max-width: 580px;
    }

    .projekt1 {
        height: 90vh;
    }

    .projekt2 {
        height: 90vh;
    }

    .projekt3 {
        height: 90vh;

    }

    .projekt4 {
        height: 90vh;
    }

    .omtext .textbox {
        max-width: 805px;
    }

    .t4 {
        display: block;
    }


    /* END "lg-" 992px and up */
}

/**************************************************/
/* // Extra large devices (large desktops, 1200px and up) */
/**************************************************/
@media (min-width: 1200px) {

    #heropic {}

    #hero h1 {
        font-size: 130px;
    }

    #hero .redbox {
        width: 350px;
        height: 650px;

    }

    #hero .redboxpos {
        margin-left: 13vw;
    }

    #hero .pos {
        left: 400px;
    }

    #hero p {
        z-index: 2;
        font-size: 24px
    }

    #hero .textbox {
        left: 900px;

    }

    #hero .scrolldown {
        /*        bottom: -100px;*/
        left: 715px;
        bottom: -30px;
    }

    #hero .fas {
        font-size: 70px;
    }

    #info h1 {
        font-size: 130px;
    }

    #info .redbox {
        width: 350px;
        height: 650px;

    }

    #info .redboxpos {
        margin-left: 13vw;
    }

    #info .pos {
        left: 400px;
    }

    #info p {
        z-index: 2;
        font-size: 24px
    }

    #info .textbox {
        left: 900px;

    }

    #info .scrolldown {
        /*        bottom: -100px;*/
        left: 715px;
        bottom: -30px;
    }

    #info .fas {
        font-size: 70px;
    }



    .xl {
        max-width: 200px;
        max-height: 200px;
    }

    .omtext .textbox {
        max-width: 505px;
    }

    .omtext .t1 {
        padding-left: 6vw
    }

    .omtext .t2 {
        padding-left: 6vw
    }

    .omtext .t3 {
        padding-left: 6vw
    }

    .omtext .t4 {
        padding-left: 6vw
    }



    /* END "xl-" 1200px and up */
}
