body {
    background-color: #1C1A20
}

p {
    color: white;
    /*    font-family: "metropolisextra_bold";*/
}

h1,
h2 {
    color: white;
    text-transform: uppercase;
    font-family: "metropolisextra_bold";


}



.burgermenu {
    display: block;
}

.nav {
    display: none;
}

.redbox {
    width: 300px;
    height: 600px;
    background-color: #FF5851;
}

.redboxpos {
    left: 0px;
    top: -40px;
}

#hero {
    min-height: 100vh, ;
}

#hero h1 {
    z-index: 2;
}

#hero p {
    z-index: 2;
}

#hero .textbox {
    max-width: 20em;
}

#heropic {
    z-index: 2;
}



/************************ FONTS **************************/

@font-face {
    font-family: 'metropolisextra_bold';
    src: url('metropoliseb-webfont.woff2') format('woff2'),
        url('metropoliseb-webfont.woff') format('woff');
    font-weight: bold;
    font-style: bold;
}




/************************* -- *************************/



/**************************************************/
/* Small devices (landscape phones, 576px and up) */
/**************************************************/
@media (min-width: 576px) {

    /* END "sm-" 576px and up */
}

/**************************************************/
/* // Medium devices (tablets, 768px and up) */
/**************************************************/
@media (min-width: 768px) {
    .burgermenu {
        display: none;
    }

    .nav {
        display: block;
    }





    /* END "md-" 768px and up */
}

/**************************************************/
/* // Large devices (desktops, 992px and up) */
/**************************************************/
@media (min-width: 992px) {


    /* END "lg-" 992px and up */
}

/**************************************************/
/* // Extra large devices (large desktops, 1200px and up) */
/**************************************************/
@media (min-width: 1200px) {


    /* END "xl-" 1200px and up */
}
