body {
    background-color: #1C1A20;
}


.container {
    padding: 0;
    min-height: 100%;

}

p {
    color: white;
}

h1,
h2 {
    color: white;
    text-transform: uppercase;
    font-family: 'metropolisextra_bold';
    font-size: 2.5em;
}

.pt-6 {
    padding-top: 5em;
}


.burgermenu {
    display: block;
}

.nav {
    display: none;
}

/*****************  HERO BOX  ****************************/

#hero .redbox {
    width: 300px;
    height: 700px;
    background-color: #FF5851;
}

#hero .redboxpos {
    margin-left: 10vw;
    width: 50vw;
}

#hero {
    min-height: 100vh;
}

#hero h1 {
    z-index: 2;
    margin-top: 100px;
    margin-left: 30px;
    font-family: 'metropolisextra_bold';
    font-size: 3.6em;
}

#hero p {
    z-index: 2;
}

#hero .textbox {
    left: 20px;
    top: 300px;
}

#heropic {
    z-index: 1;
    max-height: 300px;
    max-width: 300px;
}

#hero .pos {
    top: 60%;
    left: 190px;
}

#hero .arrow {
    font-size: 3em;
    color: #FF5851;
}

#hero .fas {
    line-height: 0.4;
}

#hero .scrolldown {
    bottom: -40px;
    left: -40px;
}


/*****************  HERO BOX END  ****************************/

/* PROJEKTER */

#projekter .textbox {

    text-align: left;
    margin: auto;
}

#projekter p {
    font-size: 20px;
}

#projekter h2 {
    font-size: 4em;

}

#projekter h2::after {
    font-size: 1em;
    content: ".";
    color: #FF5851;
}

#projekter .skub {
    z-index: 1;
    top: -5px;
}


.projekt1 {
    background-color: lightblue;
    height: 100vh;
}

.projekt2 {
    background-color: crimson;
    height: 100vh;
}

.projekt3 {
    background-color: gold;
    height: 100vh;

}

.projekt4 {
    background-color: peru;
    height: 100vh;
}

/*                    INFO/OM                         */

#info {
    min-height: 100vh;
}

#info .redbox {
    width: 300px;
    height: 700px;
    background-color: #FF5851;

}


#info .redboxpos {
    margin-left: 10vw;
    width: 50vw;
}


#info h1 {
    z-index: 2;
    margin-top: 100px;
    margin-left: 30px;
    font-family: 'metropolisextra_bold';
    font-size: 3.6em;
}

#info p {
    z-index: 2;
}

#info .textbox {
    left: 25px;
    top: 230px;
}

#info #idimg {
    z-index: 1;
}


#info .pos {
    bottom: 5%;
    left: 200px;
}

#info .arrow {
    font-size: 3em;
    color: #FF5851;
}

#info .fas {
    line-height: 0.4;
}

#info .scrolldown {
    bottom: -6rem;
    left: -30px;
}

#info .pospil {
    top: 640px;
}

#omtext .skub {
    top: -67px;
    left: 10px;
    z-index: 1;
}

#omtext h2 {
    font-size: 5em;
}

#omtext h2::after {
    content: ".";
    color: #FF5851;
}

#omtext {}

#omtext .omtext {
    background-color: seagreen;
    text-align: left;
    height: 110vh;
    font-size: 1.1em;
}




/*                --------------                      */
/*     FOOTER       */
footer {
    min-height: 25vh;
}

footer .arrow {
    font-size: 3em;
    color: #FF5851;
    line-height: 0.4;
    transform: rotate(180deg);

}

footer .fas {
    line-height: 0.4;
}

footer .pos {
    right: 15px;
    top: 15px;
}

footer .pt-8 {
    padding-top: 2vh;
}

footer .center {
    padding: 15.6px;
}

footer .centerr {
    padding: 15px;
}


.cirkel {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #16131c;
}

.cirkel:hover {
    background-color: #231f2a;
    cursor: pointer;
}




/**************************************************/
/* Small devices (landscape phones, 576px and up) */
/**************************************************/
@media (min-width: 576px) {
    .container {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        min-width: 100%;
    }

    #hero .redbox {
        width: 300px;
        height: 600px;
    }

    #hero .redboxpos {
        width: 50vw;
    }

    #hero .scrolldown {
        bottom: -140px;
        left: -60px;
    }



    /* END "sm-" 576px and up */
}

/**************************************************/
/* // Medium devices (tablets, 768px and up) */
/**************************************************/
@media (min-width: 768px) {

    #hero h1 {
        font-size: 95px;
    }

    #hero .redbox {
        width: 350px;
    }

    #hero .redboxpos {
        margin-left: 20vw;
    }

    #hero .textbox {
        left: 320px;
        top: 290px;
    }

    #hero .scrolldown {
        bottom: -100px;
        left: -150px;
    }

    #heropic {
        max-height: 330px;
        max-width: 330px;
    }

    #hero .pos {
        top: 55%;
        left: 400px;
    }

    #hero .padtop {
        padding-top: 50px;
    }


    .burgermenu {
        display: none;
    }

    .nav {
        display: block;
        min-width: 90vw;
        z-index: 1;
    }

    #projekter .textbox {
        max-width: 460px;
    }



    /* END "md-" 768px and up */
}

/**************************************************/
/* // Large devices (desktops, 992px and up) */
/**************************************************/
@media (min-width: 992px) {

    #heropic {
        max-height: 360px;
        max-width: 360px;
    }

    #hero .pos {
        left: 390px;
    }

    #hero .scrolldown {
        /*        bottom: -100px;*/
        left: -200px;
    }

    #projekter .skub {
        left: 8vw;
        top: -5px;
    }

    #projekter .textbox {
        max-width: 460px;
        max-height: 200px
    }

    .projekt1 {
        height: 90vh;
    }

    .projekt2 {
        height: 90vh;
    }

    .projekt3 {
        height: 90vh;

    }

    .projekt4 {
        height: 90vh;
    }



    /* END "lg-" 992px and up */
}

/**************************************************/
/* // Extra large devices (large desktops, 1200px and up) */
/**************************************************/
@media (min-width: 1200px) {

    #heropic {}

    #hero h1 {
        font-size: 130px;
    }

    #hero .redbox {
        width: 350px;
        height: 650px;

    }

    #hero .redboxpos {
        margin-left: 13vw;
    }

    #hero .pos {
        left: 490px;
    }

    #hero p {
        z-index: 2;
        font-size: 24px
    }

    #hero .textbox {
        left: 900px;

    }

    #hero .scrolldown {
        /*        bottom: -100px;*/
        left: 715px;
        bottom: -30px;
    }

    #hero .fas {
        font-size: 70px;
    }


    .xl {
        max-width: 200px;
        max-height: 200px;
    }



    /* END "xl-" 1200px and up */
}
